<launch>
<arg name="xwr_cmd_tty" default="/dev/tty/ACM0"/>
<arg name="xwr_radar_cfg" default="14xx/indoor_human_rcs"/>

<node name="xwr1xxx" pkg="mmWave" type="no_Qt.py" required="true" output="screen"
    args="--cmd_tty $(arg xwr_cmd_tty) $(arg xwr_radar_cfg)"/>
<node name="xwr1xxx_rd_viz" pkg="mmWave" type="fft_viz.py" />
</launch>
